.app-container {
    display: flex;
    flex-direction: column;
}
.container-item {
    display: flex;
    justify-content: space-evenly;
}
.youth-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.youth-form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.youth-form-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.youth-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: #f8f8f8;
    border-style: solid;
    border-color: coral;
}
.youth-item {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    justify-content: space-evenly;
    flex-grow: 1;
}
.sabha-form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.sabha-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: 1;
}
.sabha-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}
.sabha-item {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.nav-item {
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 50px;
    color: #2c3e50;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.add-button{
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    border-color: aqua;
}
.del-button {
    border-radius: 7px;
    background: red;
    color: white;
    font-weight: bold;
    border-color: coral;
}